on: [push, pull_request]

jobs:
  gradle_build_job:
    runs-on: ubuntu-latest
    name: Build the gradle project
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 1.8

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew build
      # Use the output from the build step to upload the jar file
      #- name: Upload artifact
        # only upload on pull request
       # if: github.event_name == 'pull_request'
        #uses: actions/upload-artifact@v3
       # with:
        #  name: jar-file
         # path: $0
         
